<div class="container">
  <nz-card class="card">
    <h2 class="title">Forgot your password?</h2>
    <p>
      Enter your email address below to receive a link to reset your password.
    </p>

    <nz-form [formGroup]="forgotPasswordForm">
      <nz-form-item class="form-item">
        <nz-form-control nzErrorTip="Please enter your email">
          <nz-input-group nzPrefixIcon="user" class="input-group">
            <input
              nz-input
              type="email"
              formControlName="email"
              placeholder="Email"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="form-item">
        <button nz-button nzType="primary" (click)="onSubmit()">
          Send Reset Link
        </button>
      </nz-form-item>
    </nz-form>
  </nz-card>
</div>
